name: Update Live List
on:
  schedule:
    - cron: '0 */2 * * *'
  workflow_dispatch:
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade yt-dlp
      - name: Run Scraper
        run: python fetch_lives.py
      - name: Commit and Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add live_list.txt
          git diff --staged --quiet || (git commit -m "Update lives" && git push)
